.outer {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

.dd {
  background-color: #bababa;
  border: 1px solid #959595;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}