@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root {
  --mediblue: #307AB7;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;
  --indexherocolor: 0.5;
  --indexherofilter: 1;
  --navbar-text-color: #ffffff;
  --navbar-background-color: #000000;
  --index-hero-translate-y: 0px;
  --index-section3-image: repeating-linear-gradient(45deg,
      #000000,
      #000000 10px,
      #181818 10px,
      #181818 20px);
  --section3-photo-background: 0;
  --mediblueopacity: 1;
  --section3-images-translate-y: 0px;
  --backgroundPictureUrl:
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: rgb(225, 225, 225);
  }
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}

.fdr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.d {
  justify-content: space-between;
}

.pageTitle {
  font-weight: 650;
  font-size: 1.5rem;
  background-color: #307AB7;
  max-width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: capitalize;
  border-radius: 50px;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}