.everyone {
  width: 500px;
}

.everyone>* {
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  transition-duration: 0.5s;
  padding: 10px;
}

.everyone>*:hover {
  padding: 0;
  transition-duration: 0.5s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) inset;
}

.page {
  display: flex;
  align-items: center;
  justify-content: middle;
  flex-direction: column;
  height: 100%;
  margin-top: 100px;
  margin-bottom: auto;
  width: 100%;
}


@media (max-width: 768px) {

  .everyone {
    width: 350px;
  }

  .everyone>* {
    margin: 0;
  }
}