.outer {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: middle;
  height: auto;
  width: 100%;
}

.page {
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: middle;
  min-height: calc(100vh - 53px);
  width: 100%;
  padding: 10px
}